<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div id="wrap">
        <div id="main">
            <div id="sub">
                <nav>
                    <ul>
                        <li><a href="#home"
                                class="w3-bar-item w3-button w3-hover-none w3-border-white w3-topbar w3-hover-border-green">Home</a>
                        </li>
                        <li><a href="#aboutus"
                                class="w3-bar-item w3-button w3-hover-none w3-border-white w3-topbar w3-hover-border-green">About
                                Us</a></li>
                        <li><a href="#job"
                                class="w3-bar-item w3-button w3-hover-none w3-border-white w3-topbar w3-hover-border-green">Job</a>
                        </li>
                        <li><a href="#clients"
                                class="w3-bar-item w3-button w3-hover-none w3-border-white w3-topbar w3-hover-border-green">Clients</a>
                        </li>
                        <li><a href="#employers"
                                class="w3-bar-item w3-button w3-hover-none w3-border-white w3-topbar w3-hover-border-green">Employers</a>
                        </li>
                        <li><a href="#contactus"
                                class="w3-bar-item w3-button w3-hover-none w3-border-white w3-topbar w3-hover-border-green">Contact
                                Us</a></li>
                    </ul>
                </nav>
            </div>
            <div id="sub2">
                <h3 class="Demo"> DEMO APP </h3>
            </div>
        </div>
        <h1 class="display-5">I'm looking for..</h1>
        <form action="#">
            <input class="search" type="search" placeholder="Enter a job discription">
            <button class="searchbtn"><i class="fa-solid fa-magnifying-glass"></i> Search </button>
            <br>
            <div style="display: flex;">
                <div>
                    <input type="radio" class="radio" id="full" name="full" value="full">
                    <label for="full" style="color: white;">Full Time</label>
                    <input type="radio" class="radio2" id="cPartss" name="Part" value="Part">
                    <label for="Part" style="color: white;">Part time / casual / freelance</label><br>

                </div>
                <div class="dropdown">
                    <select id="state" class="form-group c1" required #state>
                        <option value="">Select Your Location </option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>

                </div>
            </div>
            <button class="Submit">
                <button type="button" class="btn btn-primary-outline pull-right" (click)="btnClick();"> Register </button>   

                <!--<a routerLink="/register" class="btn btn-primary btn-lg active" role="button"
                    aria-pressed="true">Register</a>-->
            </button>
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <div class="digital">
        <h4 class="led">we're leaders in</h4>
        <h2 class="create">Creative Digital Recruitment</h2><br>
        <hr class="line"><br>
        <p class="bottom">Based in Surry Hills, the Creative hub of sydney we are surrounded by creativity<br>
            and that reflects on the type of jobs we recruit for.</p><br><br>
        <button type="button" class="btn btn-outline-info" style="text-align: center; font-weight: bold;">FIND OT MORE ABOUT US!</button>
        <br><br>
    </div>
    <div class="footer">
        <h5>Subscribe to our Job Seeker Mailing List</h5>
        <div class="mail-submit">
            <input type="mail" class="emailInput" placeholder="  Enter your email address" />
            <i class="fa-regular fa-envelope"></i>
        </div>
    </div>
    <div class="footer-item">
        <i class="fa-regular fa-envelope"></i>
        <p>copyright &copy; 2014 Two Bytes Consulting.<b>Terms & Policies</b></p>
    </div>
</body>